html {
  box-sizing: border-box;
  height: -webkit-fill-available;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-weight: 400;
}

body {
  @include default-font();
  font-size: 20px;
  color: $grey-light;

  img {
    max-width: 100%;
    height: auto;
  }

  ul li {
    list-style: none;
  }

  p {
    font-family: $third-font;
    font-weight: 400;
  }
}

section { @include row();}

.hidden { display: none; }

input[type="text"],input[type="email"],input[type="search"], input[type="submit"], textarea, button {
  @include default-font();
  //border-radius:0;
}

select {  @include default-font();}

h1,.h1,.h1 p {@include h1;}
h2,.h2,.h2 p {@include h2;}
h3,.h3,.h3 p {@include h3;}
h4,.h4,.h4 p {@include h4;}
h5,.h5,.h5 p {@include h5;}
h6,.h6,.h6 p {@include h6;}

a {
  color: $primary-color; 
  transition: all 0.3s ease;

  &:hover {
    color: $third-color;
  }
}

b,
strong,
strong * {
  font-weight: 600;
}

:hover {
 transition: all 0.3s ease;
}

.row {
   @include row();
}

.container {
  width: map-get($site-widths, max-width);
  margin: 0 auto;
  max-width: 100%;
  padding: 0 80px;

  @include responsive('desktop-s') {
    padding: 0 30px;
  }

  @include responsive('mobile-h') {
    padding: 0 15px;
  }
}

.container_big {
  width: map-get($site-widths, max-width);
  margin: 0 auto;
  max-width: 100%;
  padding: 0 120px;

  @include responsive('desktop-s') {
    padding: 0 30px;
  }

  @include responsive('mobile-h') {
    padding: 0 15px;
  }

  &--extra {
    padding: 0 360px;

    @include responsive ('desktop-m') {
      padding: 0 120px;
    }

    @include responsive('desktop-s') {
      padding: 0 30px;
    }
  
    @include responsive('mobile-h') {
      padding: 0 15px;
    }
  }
}

.centerDiv {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

.title {
  @include title();
  text-align: center;

  @include responsive ('mobile-h') {
    margin-bottom: 20px;
  }
}

.subtitle {
  @include subtitle();
  text-align: center;
}

.iframe-wrapper {
  @include row();
  padding-top: 56.25%;
  position: relative;

  iframe {
    @include absolute();
  }
}

.upper_title {
  font-size: 18px;
  letter-spacing: 2.7px;
  color: $secondary-color; 
  text-transform: uppercase;
  position: relative;
  letter-spacing: 2.7px;
  font-weight: 700; 

  @include responsive ('mobile-h') {
    padding-left: 25px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 52%;
    left: -50px;
    width: 32px;
    height: auto;
    border-top: 1px solid $secondary-color;

    @include responsive('tablet-h') {
      width: 16px;
      left: -25px;
    }

    @include responsive ('mobile-h') {
      left: 0;
    }
  }

  @include responsive('tablet-h') {
    font-size: 16px;
  }
}

.mejs-overlay-button {
  background: url('images/play.svg') no-repeat !important;
}

.js-loading { 
  padding: 60px 0 100px 0;

  &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 8.208vw;
      float: left;
      height: 8.208vw;
      background: transparent url(images/loading.svg) center top no-repeat;
      background-size: 8.208vw;
      content: '';
      z-index: 1;
  }
}

.item {
  display: flex;
  align-items: center;
  //box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  background-color: $white;
  justify-content: center;

  img {
      object-fit: cover;
      max-width: 180px;
  }
}

.popup {
  display: none;
  position: fixed;
  z-index: 100;
  top: 16vh;
  left: 50%;
  transform: translate(-50%, 0);
  width: 755px;
  height: 40vh;
  background: #ffffff;
  padding: 30px;
  text-align: left;
  box-shadow: 9px 10px 48px 0px rgb(0 0 0 / 75%);
  z-index: 101;
  border-radius: 5px;

  @include responsive ('tablet-h') {
    width: 100%;
    height: 100vh;
    top: 0;
  }

 /*  @include responsive ('tablet-v') {
    width: calc(100% - 30px);
  } */

  .close_popup {
    position: absolute;
    right: 2%;
    top: 3%;
    z-index: 100;
    cursor: pointer;
    background-image: url(images/close-form.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    width: 40px;
    height: 40px;
    opacity: 1;
    transform: none;

    &:hover {
      background: rgb(255, 255, 255) url(images/close-form-color.svg) center no-repeat;
      width: 40px;
      height: 40px;
    }
  }

  .formBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    padding: 0 50px;
  }
}



//Styles Home
.vision {
  position: relative;
  padding-top: 100px;

  @include responsive ('mobile-h') {
    padding-top: 40px;
  }
  
  &__image {
    position: relative;
    height: 600px;

    @include responsive ('mobile-h') {
      height: 650px;
    }

  &::before {
    @include overlay();
  }

  img {
    height: 100%;
    display: block;
    object-fit: cover;
    width: 100%;
  }
  }

  &__cont {
    position: absolute;
    //top: 50%; sin AOS
    top: 50%;
    transform: translate(-50%, -35%) !important;
    //right: 50%; sin AOS
    left: 50%;
    width: 100%;
    z-index: 4;
    color: $white;
    text-align: center;
    @include text_block();
    width: 1600px;
    max-width: 100%;

    @include responsive ('mobile-h') {
      transform: translate(-50%, -50%) !important;
    }

    @include responsive ('mobile-s') {
      width: 100%;

      p {
        font-size: 14px;
      }
    }
    
    .container_big {
      padding: 0 30px;

      @include responsive ('mobile-h') {
        padding: 0 15px;
      }
    }
  }

  &__title {
    @include h2();
    color: #D1F5AB;
    text-transform: uppercase !important;
  }
}

.wrapper {
  overflow: hidden;
}

.site-content {
  padding-top: 122px;

  @include responsive ('mobile-h') {
    padding-top: 91px;
  }
}
.flickity-prev-next-button {
  background: url(images/arrow-right.svg) center/contain no-repeat;
  width: 69px;
  height: 69px;
  background-size: 34px;
  display: inline-block;
  position: absolute;
  transform: translate(0, -50%);
  z-index: 2;
  background-color: $white;
  border-radius: 0;
  box-shadow: none !important;

  @include responsive('mobile-h') {
      display: none;
  }
  
  &.previous {
      left: 0;
      transform: rotate(180deg) translate(0, 50%);
  }

  &.next {
      right: 0;
  }

}

.btn-whatsapp {
  position: fixed;
  bottom: 30px;
  right: 30px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #25d366;
  text-align: center;
  display: inline-block;
  line-height: 50px;
  color: #fff;
  font-size: 30px;
  box-shadow: #333 0 0 10px;
  z-index: 1000;
}

.instagram {
  @include padding-section();

  .title {
    display: block;
  }
}

.logos + .notas_de_interes {
  padding-top: 0;
}

.notas_de_interes + .instagram {
  padding-top: 0;
}
