.hero-home {
    min-height: 55vw;
    display: block;
    position: relative;

    /* @include responsive ('mobile-h') {
        min-height: 70vw;
    } */

    video {
        width: 100%;
        display: block;
    }

    &::before {
        @include overlay();
    }

    &__content {
        position: absolute;
        top: 50%;
        transform: translate(50%, -25%);
        right: 50%;
        z-index: 4;
        width: 100%;

        @include responsive ('mobile-h') {
            transform: translate(50%, -6%);
        }
    }

    &__big_text {
        @include h1();
        font-size: 100px;
        text-transform: capitalize;
        color: $white;
        font-weight: 700;
        z-index: 10;

        &::after {
            content: '';
            border-top: 4px solid $white;
            width: 150px;
            display: flex;
            margin: 10px 0 20px 0;

            @include responsive ('mobile-h') {
                border-top: 2px solid $white;
                width: 80px;
            }
        }
    }

    &__bottom_text {
        @include h4();
        color: $white;
        z-index: 10;
        text-transform: capitalize;
    }
}