.logos {
    @include padding-section();
    
    @include responsive('tablet-h') {
        padding-bottom: 60px;
    }

    &__text {
        font-family: $secondary-font;
        font-weight: 300;
        font-size: 20px;
        line-height: 1.8;

        @include responsive ('mobile-h') {
            font-size: 16px;
            line-height: 1.4;
        }
    }
    &__cont {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 20px;
        padding: 30px 0 30px;

        @include responsive ('desktop-m') {
            grid-template-columns: repeat(3, 1fr);
        }

        @include responsive('tablet-h') {
            padding: 40px 0;
            grid-template-columns: repeat(2, 1fr);
        }

        @include responsive('mobile-v') {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}