.logos {
    padding-bottom: 130px;
    
    @include responsive('tablet-h') {
        padding-bottom: 60px;
    }

    &__title {
        @include h1();
        line-height: 1.09;
        font-weight: 700;
        color: $primary-color;
        margin-bottom: 35px;

        @include responsive('mobile-h') {
            margin-bottom: 20px;
        }
    }

    &__text {
        font-family: $secondary-font;
        font-weight: 300;
    }
    &__cont {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 20px;
        padding: 70px 0 48px;

        @include responsive ('desktop-m') {
            grid-template-columns: repeat(3, 1fr);
        }

        @include responsive('tablet-h') {
            padding: 40px 0;
            grid-template-columns: repeat(2, 1fr);
        }

        @include responsive('mobile-v') {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}