.nuestro_equipo {
  @include padding-section();

  &__subtitle {
    @include text_block();
    padding-bottom: 40px;
  }

  &__cont {
    display: grid;  
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;

    @include responsive ('tablet-h') {
      grid-template-columns: repeat(2, 1fr);
    }

    @include responsive ('mobile-h') {
      grid-template-columns: repeat(1, 1fr);
      gap: 0;
    }
  }

  &__item {
    min-height: 400px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    @include responsive ('desktop-s') {
      min-height: auto;
    }

    img {
      border-radius: 50%;
      width: 100%;
      object-fit: cover;
      width: 350px;
      max-width: 100%;

      @include responsive ('mobile-h') {
        width: 250px;
      }
    }

    &:hover {
      background-color: $dark-green;
      border-radius: 20px;
      transform: translate(0px, -10px);
    }
  }

  &__persona {
    text-align: center;
    font-size: 22px;
    margin: 10px 0;
    font-weight: 700;

    @include responsive ('mobile-h') {
      font-size: 18px;
    }
  }

  &__especializacion p{
    font-size: 20px;
    text-align: center;

    @include responsive ('mobile-h') {
      font-size: 16px;
    }
  }

  &--home {

    .nuestro_equipo__cont {
      display: flex;
      align-items: center;
      justify-content: center;

      @include responsive ('mobile-h') {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      @include responsive ('mobile-v') {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    .nuestro_equipo__subtitle {
      text-align: center;
    }

    .nuestro_equipo__item {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      aspect-ratio: 1;
      overflow: hidden;
      min-height: 310px;
      cursor: default;

      @include responsive ('tablet-h') {
        aspect-ratio: inherit;
        min-height: auto;
      }

      &:hover {
        background-color: transparent;
        border-radius: none;
      }
    }

    img {
      width: 150px;
      max-width: 100%;
    }

    .button {
      margin: 0 auto;
      display: table;
    }
  }
}