.text_block {
    @include padding-section();

    &__cont {
        @include text-block();
        width: 100%;

        img {
            display: block;
            width: 1000px;
            height: 500px;
            margin: 0 auto;
            object-fit: cover;
        }
    }

   /*  &__title {
        color: #282560;
    } */
}
/* 
.page-who-we-are, .page-contact-us   {
    .text_block {
        padding: 100px 250px;

        @include responsive('desktop') {
            padding: 50px 100px;
        }

        @include responsive('tablet-h') {
            padding: 50px;
        }

        @include responsive('mobile-h') {
            padding: 20px 0;
        }
    }
} */