.formBox {
	input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
	textarea {
		@include inputs();
		width: 100%;
		margin-bottom: 8px;
		background: $white !important;
	}

	p {
		@include h7();
		color: $grey;;
		line-height: 1.2;

		a {
			color: $primary-color;
			text-decoration: underline;

			&:hover {
				color: $secondary-color;
			}
		}
	}
}

.form_block {
	.formBox {
		margin: 0 auto;
		width: 337px;
		max-width: 100%;

		.gform_footer {
			text-align: center;
		}		
	}
}

//form home


.gform_wrapper.gravity-theme {
	
	.gform_validation_errors,
        .gravity-theme,
        .gfield_description, 
        .validation_message {
            border: none;
            border-radius: 0;
            background-color: $white;
            font-size: 15px;
            background: transparent;
            box-shadow: none;
            padding: 0;
						color: $white;
    
            &>h2 {
            font-size: 15px;
						color: $white;
    
                .gform-icon {
                    display: none; 
                }
            }
        }
}

.stay_informed__form {
	.gform_confirmation_message {
		font-size: 26px;
		color: $white;
		font-weight: 400;
	}
}


// hide antispam honeypot
.gform_validation_container, 
.gform_wrapper .gform_validation_container, 
body .gform_wrapper li.gform_validation_container, 
body .gform_wrapper .gform_body ul.gform_fields li.gfield.gform_validation_container, 
body .gform_wrapper ul.gform_fields li.gfield.gform_validation_container {
	display: none !important;
	position: absolute !important;
	left: -9000px;
}


//contact
.gform-body {
	
		input, textarea {
			border-radius: 3px;
			border: 1px solid $grey-light;
			color: $primary-color;
		}
		
	
}