.site-logo {
    display: block;
    margin-right: 30px;

    @include responsive ('tablet-h') {
        margin-right: 0;
    }

    img {
        width: 150px;
        height: auto;

        @include responsive('desktop-s') {
            width: 130px;
        }

        @include responsive('mobile-h') {
            width: 90px;
        }
    }
}